<%= simple_form_for @sloc, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :officename, label: "Office Name", required: :true  %>
    <%= f.input :address, label: "Office Address", placeholder: "Enter Address eg '750 w baseline tempe az'", required: :true  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add Office" %>
  </div>
<% end %>
