<% if current_user.userlevel == 'driver' then user_not_authorized else %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
<p id="notice"><%= notice %></p>

<h3>Listing Offices</h3>
<br>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Officename</th>
      <th>Address</th>
      <th>Users at office</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slocs.each do |sloc| %>
      <tr>
        <td><%= sloc.officename %></td>
        <td><%= sloc.address %></td>
        <td><%= sloc.users.count %></td>
        <td><%= link_to 'Show', sloc %></td>
        <td><%= link_to 'Edit', edit_sloc_path(sloc) %></td>
        <td><%= link_to 'Destroy', sloc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add an Office', new_sloc_path, class: "btn btn-primary" %>

</div></div></div>
<%end%>