<div class="container">
  <div class="row">
    <div class="col-xs-12">
		<h1>Add an Office</h1>

		<%= render 'form' %>
<br>
		<%= link_to 'Back', slocs_path, class: "btn btn-danger" %>
	</div>
	</div>
	</div>
