<% if current_user.userlevel == 'driver' then user_not_authorized else %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">

    <p id="notice"><%= notice %></p>
<div class="text-center">
  <h2><%= @sloc.officename %> Office </h2>


<h5>  <%= @sloc.address %></h5>
</div>
<hr />
<% if @sloc.rowts.present? then %>
<h3>Routes</h3>
    <% @sloc.rowts.each do |sloc| %>
    <h4> <%= sloc.name %></h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>stop</th>
      <th>address</th>
      <th>Stop Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% sloc.steps.each do |step| %>
  <tbody>
      <tr>
        <td><%= step.name %></td>
        <td><%= step.address %></td>
        <td><%= step.steplevel %></td>
        <td><%= link_to 'Show', step %></td>
        <td><%= link_to 'Edit', edit_step_path(step) %></td>
        <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
  <%end%>
</table>
<br>
    <% end %>
    <% else %>
    <%= link_to "Add Route", new_rowt_path, class: "btn btn-default"%>
    <% end %>
<hr />

<h3>Users</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Office</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @sloc.users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user_path(user), class: 'btn btn-primary btn-sm'  %></td>
              <td><%= user.email %></td>
              <td><%= user_status(user) %></td>
              <td><%= if user.sloc.present? then user.sloc.officename else 'No office assigned' end %></td>
              <td><%= user.userlevel %></td>
              <td><%= link_to 'Send message', new_message_path(to: user.id), class: 'btn btn-default btn-sm' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

        <h3 class="extra-margin-top">Invite User</h3>

        <%= simple_form_for(User.new, url: user_invitation_path, html: { class: 'form-inline'} ) do |f| %>
        <%= f.input :email, placeholder: 'Email', label: false %>
        <%= f.button :submit, 'Invite User', class: 'btn-primary' %>
        <%end%>                

    </div>
   </div>
  </div>

</div></div></div>
  <br><br>

  <%end%>