<%= simple_form_for(@lineitem) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :invoice %>
    <%= f.association :stat %>
    <%= f.association :ren %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
