<p id="notice"><%= notice %></p>

<h1>Listing Lineitems</h1>

<table>
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Stat</th>
      <th>Ren</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lineitems.each do |lineitem| %>
      <tr>
        <td><%= lineitem.invoice.name %></td>
        <td><%= lineitem.stat.amount %></td>
        <td><%= lineitem.ren %></td>
        <td><%= link_to 'Show', lineitem %></td>
        <td><%= link_to 'Edit', edit_lineitem_path(lineitem) %></td>
        <td><%= link_to 'Destroy', lineitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lineitem', new_lineitem_path %>
