<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @lineitem.invoice %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @lineitem.stat %>
</p>

<p>
  <strong>Ren:</strong>
  <%= @lineitem.ren %>
</p>

<%= link_to 'Edit', edit_lineitem_path(@lineitem) %> |
<%= link_to 'Back', lineitems_path %>
