

<table class="table table-bordered table-striped">


  <thead>
  <h3>Runs</h3>
  <tr>
            <td>Add Runs to Invoice </td>
            <td> Date </td>
            <td> Name </td>
            <td> Stops </td>
            <td> Amount </td>
            <td> Status </td>
            </tr>
  </thead>
<%= f.collection_check_boxes :ren_ids, @rens2.each, :id, (:rvisit && :pvisit), class: "checkbox" do |b| %>
  <tbody>
    <tr>
      <td>
      <%= if b.object.lineitem.nil? then b.check_box else "Already Invoiced"  end %>
  </td>
  <td><%= b.object.dayt.strftime("%m""-""%d""-""%Y") %></td>
  <td><%= b.object.rowt.name %></td>
  <td><%= (b.object.rvisit + b.object.pvisit).compact.reject(&:blank?).count %></td>
  <td><%= number_to_currency(@user.flatrate) %></td>
  <td class="<%= b.object.tat %>"><%= b.object.tat %></td>
    </tr>
  </tbody>

<% end %>
  </tr>
</table>  