<%= wicked_pdf_stylesheet_link_tag "css_file_name" -%>
<%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <div class="invoice-title">
          <h2>Invoice</h2><h3 class="pull-right">Invoice <%= @invoice.name %></h3>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <address>
            <strong>Billed To:</strong><br>
              <%= @invoice.billto %><br>
            </address>
            <address>
              <strong>Bill Period:</strong><br>
              <%= @invoice.billstart.strftime("%m""-""%d""-""%Y") %><br>
              to <br>
              <%= @invoice.billend.strftime("%m""-""%d""-""%Y")%>
            </address>
          </div>
          <div class="col-xs-6 text-right">
            <address>
              <strong>Invoice Date:</strong><br>
              <%= @invoice.dayt.strftime("%m""-""%d""-""%Y") %><br>
              <strong>Invoice For:</strong><br>
              <%= @invoice.user.name %><br><br>
            </address>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6 text-right">

          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Invoice summary</strong></h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-condensed">
                <thead>
                                <tr>
                      <td><strong>Route Name</strong></td>
                      <td class="text-center"><strong>Date</strong></td>
                      <td class="text-center"><strong>Stops</strong></td>
                      <td class="text-right"><strong>Total</strong></td>
                                </tr>
                </thead>
                <% if @renvoice.present? %>
                <tbody>
                 <% @renvoice.each do |s|%>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <tr>
                    <td><%= s.rowt.name %></td>
                    <td class="text-center"><%= s.dayt.strftime("%m""-""%d""-""%Y") %></td>
                    <td class="text-center"><%= (s.rvisit + s.pvisit).count %></td>
                    <td class="text-right"><%= number_to_currency(@user.flatrate, :unit => "$")%></td>
                  </tr>
                    <% end %>
                  <tr>
                    <td class="thick-line"></td>
                    <td class="thick-line"></td>
                    <td class="thick-line text-center"></td>
                    <td class="thick-line text-right"><strong>Subtotal</strong>: <%= number_to_currency(@flatratetotal, unit: "$") %></td>
                  </tr>
                  </tbody>
                  <% else end %>
                  <% if @stats.present? %>


                    <thead>
                                                      <tr>
                      <td><strong>Stat Facility</strong></td>
                      <td class="text-center"><strong>Date</strong></td>
                      <td class="text-center"><strong>Address</strong></td>
                      <td class="text-right"><strong>Total</strong></td>
                                </tr>

                    </thead>


                    <tbody>
                       <% @stats.each do |s|%>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <tr>
                    <td><%= s.name %></td>
                    <td class="text-center"><%= s.dayt.strftime("%m""-""%d""-""%Y") %></td>
                    <td class="text-center"><%= s.address %></td>
                    <td class="text-right"><%= number_to_currency(s.amount, :unit => "$")%></td>
                  </tr>
                    <% end %>

                    <td class="thick-line"></td>
                    <td class="thick-line"></td>
                    <td class="thick-line text-center"></td>
                    <td class="thick-line text-right"><strong>Subtotal: </strong><%=number_to_currency(@stattotal, unit: "$" )%></td>
                  </tr>
                   </tbody>

                    <% else end %>
                    <% if @bonu.present? %>

                    <thead>
                                                      <tr>
                      <td><strong>Bonus</strong></td>
                      <td class="text-center"><strong>Date</strong></td>
                      <td class="text-center"><strong>Address</strong></td>
                      <td class="text-right"><strong>Total</strong></td>
                                </tr>
                    </thead>
                    <tbody>
                       <% @bonu.each do |s|%>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <tr>
                    <td><%= s.reason %></td>
                    <td class="text-center"><%= s.dayt.strftime("%m""-""%d""-""%Y") %></td>
                    <td class="text-center"><%= %></td>
                    <td class="text-right"><%= number_to_currency(s.amount, :unit => "$")%></td>
                  </tr>
                    <% end %>

                    <td class="thick-line"></td>
                    <td class="thick-line"></td>
                    <td class="thick-line text-center"></td>
                    <td class="thick-line text-right"><strong>Subtotal: </strong><%=number_to_currency(@bonutotal, unit: "$" )%></td>
                  </tr>
                   </tbody>
                   <% else end %>
                  <tr>
                    <td class="no-line"></td>
                    <td class="no-line"></td>
                    <td class="no-line text-center"></td>
                    <td class="no-line text-right"><strong>Invoice Total: <%= number_to_currency((@total3 + @bonutotal), unit: "$" )%></strong>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<br><br>
