<br><div class="flash">
<%= render partial: "shared/flash_messages", flash: flash %> 
</div><br>
  <div class="container">
<%= form_for @invoice, :html => {:class => "form-horizontal"} do |f| %>
<fieldset>

  <div class="form-group">
  <%= f.label "Invoice Title"%>:

  <%= f.text_field :name %><br />

    </div>

  <div class="form-group">
  <%= f.label "Billing" %>:

  <%= f.text_field :billto, value: " #{Account.first.subdomain}" %><br />

    </div>

      <%= f.hidden_field :user_id, value: @user.id %><br />

    <div class="form-group">
    <%= f.label "Invoice Start Date" %>:

    <%= f.date_select :billstart %><br />
 
    </div>
  

    <div class="form-group">
    <%= f.label "Invoice End Date" %>:

    <%= f.date_select :billend %><br />
 
    </div> 

    <div class="form-group">
  <%= f.label "Current Date" %>:

  <%= f.date_select :dayt %><br />
 
    </div>
</fieldset>
</div>

    <%= render @paylevel, f: f %>

<br>
<br>



<table class="table table-bordered table-striped">

  <thead>
  <h3>Stats</h3>
  <tr>
            <td>Add Stats to Invoice </td>
            <td> Date </td>
            <td> Name </td>
            <td> Amount </td>
            <td> Status </td>
            </tr>
  </thead>
<%= f.collection_check_boxes :stat_ids, @stats.each, :id, :name, class: "checkbox" do |b| %>
  <tbody>
    <tr>
      <td>
      <%= if b.object.lineitem.nil? then b.check_box else "Already Invoiced" end %>
  </td>
  <td><%= b.object.dayt.strftime("%m""-""%d""-""%Y")  %></td>
  <td><%= b.object.name  %></td>
  <td><%= number_to_currency(b.object.amount)  %></td>
  <td class="<%= b.object.tat %>"><%= b.object.tat %></td>
    </tr>
  </tbody>

<% end %>
  </tr>
</table> 
<br>
<br>



<table class="table table-bordered table-striped">

  <thead>
  <h3>Bonus</h3>
  <tr>
            <td>Add Bonus to Invoice </td>
            <td> Date </td>
            <td> Reason </td>
            <td> Amount </td>
            <td> Status </td>
            </tr>
  </thead>
<%= f.collection_check_boxes :bonu_ids, @bonu.each, :id, :amount, class: "checkbox" do |b| %>
  <tbody>
    <tr>
      <td>
      <%= if b.object.lineitem.nil? then b.check_box else "Already Invoiced" end %>
  </td>
  <td><%= b.object.dayt.strftime("%m""-""%d""-""%Y")  %></td>
  <td><%= b.object.reason  %></td>
  <td><%= number_to_currency(b.object.amount)  %></td>
  <td class="<%= b.object.tat %>"><%= b.object.tat %></td>
    </tr>
  </tbody>

<% end %>
  </tr>
</table> 

<br>
    <%= f.submit "Create Invoice", class: "btn btn-primary" %>

      <% end %>
        <br><br>