          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-condensed">
                <thead>
                
                <% if @renvoice.present? %>
                                <tr>
                      <td><strong>Route Name</strong></td>
                      <td class="text-center"><strong>Date</strong></td>
                      <td class="text-center"><strong>Stops</strong></td>
                      <td class="text-right"><strong>Total</strong></td>
                                </tr>
                </thead>
                <tbody>
                 <% @renvoice.each do |s|%>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <tr>
                    <td><%= s.rowt.name %></td>
                    <td class="text-center"><%= s.dayt.strftime("%m""-""%d""-""%Y") %></td>
                    <td class="text-center"><%= (s.rvisit + s.pvisit).count %></td>
                    <td class="text-right"><%= number_to_currency((s.rvisit.reject(&:empty?).count * @user.regularstop) + (s.pvisit.reject(&:empty?).count * @user.premiumstop), :unit => "$")%></td>
                  </tr>
                    <% end %>
                  <tr>
                    <td class="thick-line"></td>
                    <td class="thick-line"></td>
                    <td class="thick-line text-center"></td>
                    <td class="thick-line text-right"><strong>Subtotal</strong>: <%= number_to_currency(@rentotal, unit: "$") %></td>
                  </tr>
                  </tbody>
                  <% else end %>
                  <% if @stats.present? %>


                    <thead>
                                                      <tr>
                      <td><strong>Stat Facility</strong></td>
                      <td class="text-center"><strong>Date</strong></td>
                      <td class="text-center"><strong>Address</strong></td>
                      <td class="text-right"><strong>Total</strong></td>
                                </tr>

                    </thead>


                    <tbody>
                       <% @stats.each do |s|%>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <tr>
                    <td><%= s.name %></td>
                    <td class="text-center"><%= s.dayt.strftime("%m""-""%d""-""%Y") %></td>
                    <td class="text-center"><%= s.address %></td>
                    <td class="text-right"><%= number_to_currency(s.amount, :unit => "$")%></td>
                  </tr>
                    <% end %>

                    <td class="thick-line"></td>
                    <td class="thick-line"></td>
                    <td class="thick-line text-center"></td>
                    <td class="thick-line text-right"><strong>Subtotal: </strong><%=number_to_currency(@stattotal, unit: "$" )%></td>
                  </tr>
                   </tbody>

                    <% else end %>
                    <% if @bonu.present? %>

                    <thead>
                                                      <tr>
                      <td><strong>Bonus</strong></td>
                      <td class="text-center"><strong>Date</strong></td>
                      <td class="text-center"><strong></strong></td>
                      <td class="text-right"><strong>Total</strong></td>
                                </tr>
                    </thead>
                    <tbody>
                       <% @bonu.each do |s|%>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <tr>
                    <td><%= s.reason %></td>
                    <td class="text-center"><%= s.dayt.strftime("%m""-""%d""-""%Y") %></td>
                    <td class="text-center"><%= %></td>
                    <td class="text-right"><%= number_to_currency(s.amount, :unit => "$")%></td>
                  </tr>
                    <% end %>

                    <td class="thick-line"></td>
                    <td class="thick-line"></td>
                    <td class="thick-line text-center"></td>
                    <td class="thick-line text-right"><strong>Subtotal: </strong><%=number_to_currency(@bonutotal, unit: "$" )%></td>
                  </tr>
                   </tbody>
                   <% else end %>
                  <tr>
                    <td class="no-line"></td>
                    <td class="no-line"></td>
                    <td class="no-line text-center"></td>
                    <td class="no-line text-right"><strong>Invoice Total: <%= number_to_currency((@total + @bonutotal), unit: "$" )%></strong>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>