          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-condensed">
                <thead>
                
                <% if @renvoice.present? %>
                                <tr>
                      <td><strong>Route Name</strong></td>
                      <td class="text-center"><strong>Date</strong></td>
                      <td class="text-center"><strong>Stops</strong></td>
                      <td class="text-right"><strong>Total</strong></td>
                                </tr>
                </thead>
                <tbody>
                 <% @renvoice.each do |s|%>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <tr>
                    <td><%= s.rowt.name %></td>
                    <td class="text-center"><%= s.dayt.strftime("%m""-""%d""-""%Y") %></td>
                    <td class="text-center"><%= (s.rvisit + s.pvisit).count %></td>
                    


                    <td class="text-right">  	


     <% total = [] %>
     <% @renvoice.each do |b|%>
  	<% @a = b.pvisit.compact.reject(&:blank?) %>
  	<% @a.each do |f| %>
  		<% @b = Step.find_by_id(f)%>
  		<% total << @b.stepvalue %>
  		<% end %>
  		<% @c = b.rvisit.compact.reject(&:blank?) %>
  		<% @c.each do |f| %>
  		<% @b = Step.find_by_id(f)%>
  		<% total << @b.stepvalue %>
  		<% end %>
  		<% uperc = (@user.percent * 0.01) %>
  		<% ttotal = total.sum %>
  		<% @ftotal = ttotal * uperc %>
  		<%= number_to_currency(@ftotal, :unit => "$") %>
  			<% end %>

  		</td>
                  </tr>
                    <% end %>
                  <tr>
                    <td class="thick-line"></td>
                    <td class="thick-line"></td>
                    <td class="thick-line text-center"></td>
                    <td class="thick-line text-right"><strong>Subtotal</strong>: <%= number_to_currency(@ftotal, unit: "$") %></td>
                  </tr>
                  </tbody>
                  <% else end %>
                  <% if @stats.present? %>


                    <thead>
                                                      <tr>
                      <td><strong>Stat Facility</strong></td>
                      <td class="text-center"><strong>Date</strong></td>
                      <td class="text-center"><strong>Address</strong></td>
                      <td class="text-right"><strong>Total</strong></td>
                                </tr>

                    </thead>


                    <tbody>
                       <% @stats.each do |s|%>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <tr>
                    <td><%= s.name %></td>
                    <td class="text-center"><%= s.dayt.strftime("%m""-""%d""-""%Y") %></td>
                    <td class="text-center"><%= s.address %></td>
                    <td class="text-right"><%= number_to_currency(s.amount, :unit => "$")%></td>
                  </tr>
                    <% end %>

                    <td class="thick-line"></td>
                    <td class="thick-line"></td>
                    <td class="thick-line text-center"></td>
                    <td class="thick-line text-right"><strong>Subtotal: </strong><%=number_to_currency(@stattotal, unit: "$" )%></td>
                  </tr>
                   </tbody>

                    <% else end %>
                    <% if @bonu.present? %>

                    <thead>
                                                      <tr>
                      <td><strong>Bonus</strong></td>
                      <td class="text-center"><strong>Date</strong></td>
                      <td class="text-center"><strong></strong></td>
                      <td class="text-right"><strong>Total</strong></td>
                                </tr>
                    </thead>
                    <tbody>
                       <% @bonu.each do |s|%>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <tr>
                    <td><%= s.reason %></td>
                    <td class="text-center"><%= s.dayt.strftime("%m""-""%d""-""%Y") %></td>
                    <td class="text-center"><%= %></td>
                    <td class="text-right"><%= number_to_currency(s.amount, :unit => "$")%></td>
                  </tr>
                    <% end %>

                    <td class="thick-line"></td>
                    <td class="thick-line"></td>
                    <td class="thick-line text-center"></td>
                    <td class="thick-line text-right"><strong>Subtotal: </strong><%=number_to_currency(@bonutotal, unit: "$" )%></td>
                  </tr>
                   </tbody>
                   <% else end %>
                  <tr>
                    <td class="no-line"></td>
                    <td class="no-line"></td>
                    <td class="no-line text-center"></td>
                    <td class="no-line text-right"><strong>Invoice Total: <%= number_to_currency((@ftotal + @bonutotal + @stattotal), unit: "$" )%></strong>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
