<div class="container">
  <div class="row">
    <div class="col-xs-12">
<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>

  <div class="actions"><%= f.submit "Search" %></div>
<% end %>




<h1>Listing Invoices</h1>


<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@search, :name) %></th>
      <th>Billing</th>
      <th><%= sort_link(@search, :dayt) %></th>
      <th>Runs</th>
      <th>Stats</th>
      <th>Bonus</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.name %></td>
        <td><%= invoice.billto %></td>
        <td><%= invoice.dayt.strftime("%m""-""%d""-""%Y") %></td>
        <td><%= invoice.rens.count %></td>
        <td><%= invoice.stats.count %></td>
        <td><%= invoice.bonus.count %></td>
        <td><%= link_to 'Show', invoice %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Invoice', new_invoice_path, class: "btn btn-success" %>

</div></div></div>
<br><br>
