<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <div class="invoice-title">
          <h2>Invoice</h2><h3 class="pull-right">Invoice <%= @invoice.name %></h3>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <address>
            <strong>Billed To:</strong><br>
              <%= @invoice.billto %><br>
            </address>
            <address>
              <strong>Bill Period:</strong><br>
              <%= @invoice.billstart.strftime("%m""-""%d""-""%Y") %><br>
              to <br>
              <%= @invoice.billend.strftime("%m""-""%d""-""%Y")%>
            </address>
          </div>
          <div class="col-xs-6 text-right">
            <address>
              <strong>Invoice Date:</strong><br>
              <%= @invoice.dayt.strftime("%m""-""%d""-""%Y") %><br>
              <strong>Invoice For:</strong><br>
              <%= @invoice.user.name %><br><br>
            </address>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">

          </div>
          <div class="col-xs-6 text-right">

          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Invoice summary</strong></h3>
          </div>


                    <%= render @paylevel + "i" %>


        </div>
      </div>
    </div>
<%= link_to "PDF FILE", invoice_path(format: 'pdf'), class: "btn btn-primary" %>
</div>
<br><br>