<%= simple_form_for(@bonu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :amount %>
    <%= f.input :reason %>
    <%= f.input :dayt %>
    <%= f.hidden_field :user_id, :value => current_user.id  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add Bonus" %>
  </div>
<% end %>
