<div class="container">
  <div class="row">
    <div class="col-sm-12">
<%= simple_form_for @bonu, :url => url_for(:action => 'status_update', :controller => 'bonus'), :method => :POST   do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :amount, disabled: true  %>
    <%= f.input :reason, disabled: true  %>
    <%= f.input :dayt, disabled: true , label: 'Date' %>
    <%= f.association :user, disabled: true  %>
    <%= f.input :tat, label: "Status"  %>   
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change Status" %>
  </div>
<% end %>
</div></div></div>