<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <h1>Editing Bonu</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @bonu, class: "btn btn-primary" %> |
		<%= link_to 'Back', bonus_path, class: "btn btn-info" %>

		</div></div></div>