<div class="container">
  <div class="row">
    <div class="col-sm-12">
<p id="notice"><%= notice %></p>

<h1>Listing Bonus</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Reason</th>
      <th>Date</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bonus.each do |bonu| %>
      <tr>
        <td><%= bonu.amount %></td>
        <td><%= bonu.reason %></td>
        <td><%= bonu.dayt %></td>
        <td class="<%= bonu.tat %>"><%= bonu.tat %></td>
        <td><%= bonu.user.name %></td>
        <td><%= link_to 'Show', bonu %></td>
        <td><%= link_to 'Edit', edit_bonu_path(bonu) %></td>
        <td><%= link_to 'Destroy', bonu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bonus', bonus_user_path(@user), class: "btn btn-primary" %>
</div></div></div>
