<div class="container">
  <div class="row">
    <div class="col-sm-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @bonu.amount %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @bonu.reason %>
</p>

<p>
  <strong>Dayt:</strong>
  <%= @bonu.dayt %>
</p>

<p>
  <strong>User:</strong>
  <%= @bonu.user.name %>
</p>

<%= link_to 'Edit', edit_bonu_path(@bonu), class: "btn btn-warning" %> |
<%= link_to 'Back', bonus_path, class: "btn btn-primary" %>
</div></div></div>