<li class="list-group-item">
  <span class="glyphicon glyphicon-plus"></span>
  <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
  <strong><%= activity.owner ? activity.owner.name : 'Guest' %></strong>
  <% if a.trackable %>
    completed the run for <%= link_to a.trackable.rowt.name, ren_path(a.trackable) %>.
  <% else %>
    added the run that is currently deleted.
  <% end %>
</li>