<div class="container">
  <div class="row">
    <div class="col-xs-12">

   <h2 class="text-center">Work awaiting approval</h2></div>
   

<h3>Runs awaiting approval</h3>


<% if @work.present? then %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Route</th>
      <th>Date</th>
      <th>Time</th>
      <th>Stops</th>
      <th>Office</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @work.each do |work| %>
      <tr>
        <td><%= work.user.name %></td>
        <td><%= work.rowt.name %></td>
        <td><%= work.dayt.strftime("%m""-""%d""-""%Y")  %></td>
        <td><%= work.dayt.strftime("%I:%M %p")  %></td>
        <td><%= (work.rvisit + work.pvisit).reject!(&:empty?).count%></td>
        <td><%= work.sloc.officename %></td>
        <td class="<%= work.tat %>"><%= link_to 'View Run', rens_status_work_path(work.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<%= "currently no route work pending" %>
<% end %>

<br>
<h3>Stats awaiting approval</h3>

<% if @stat.present? then %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Facility Name</th>
      <th>Date</th>
      <th>Value</th>
      <th>Office</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @stat.each do |stat| %>
      <tr>
        <td><%= stat.user.name %></td>
        <td><%= stat.name %></td>
        <td><%= stat.dayt %></td>
        <td><%= number_to_currency(stat.amount) %></td>
        <td><%= stat.user.sloc.officename %></td>
        <td class="<%= stat.tat %>"><%= link_to 'View Stat', stats_status_work_path(stat) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<%= "currently no stat work pending" %>
<% end %>
<br>
<h3>Bonus awaiting approval</h3>
<% if @bonu.present? then %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Facility Name</th>
      <th>Date</th>
      <th>Value</th>
      <th>Office</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @bonu.each do |bonu| %>
      <tr>
        <td><%= bonu.user.name %></td>
        <td><%= bonu.reason %></td>
        <td><%= bonu.dayt %></td>
        <td><%= number_to_currency(bonu.amount) %></td>
        <td><%= bonu.user.sloc.officename %></td>
        <td class="<%= bonu.tat %>"><%= link_to 'View Bonus', bonus_status_work_path(bonu) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<%= "currently no bonus work pending" %>
<% end %>
<hr>
<%= link_to "Dashboard", dashboards_path, class: "btn btn-primary" %>
</div></div></div>