<%= simple_form_for @user, multipart: true  do |f| %>
  <%= f.error_notification %>
  <% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this from being saved:</h2>

  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Name' %>
    <%= f.input :firstname, label: 'First Name' %>
    <%= f.input :lastname, label: 'Last Name' %>
    <%= f.input :email, label: 'Email' %>
    <%= f.input :phonenumber, label: 'Phone Number' %>
    <% if current_user.driver? then %>
    <%= f.association :sloc, label: 'Work office', collection: @offices, label_method: :officename, value_method: :id, value: @user.sloc, disabled: true %>
    <%= f.input :regularstop, label: 'Regular Stop Payment', disabled: true %>
    <%= f.input :premiumstop, label: 'Premium Stop Payment', disabled: true %>
    <% else %>
        <%= f.association :sloc, label: 'Work office', collection: @offices, label_method: :officename, value_method: :id, value: @user.sloc %>
    <%= f.input :regularstop, label: 'Regular Stop Payment' %>
    <%= f.input :premiumstop, label: 'Premium Stop Payment' %>
    <%= f.input :paylevel,  as: :radio_buttons, label: "Route Payment Method", collection: @paylevel %> 
    <%= f.input :flatrate, label: "Flat Rate", default: "0.00" %>
    <%= f.input :percent, label: "Percent", default: "0" %>
    <%end%>   
    <% if current_user.admin? then %>
    <%= f.input :userlevel, as: :radio_buttons, label: 'User Role', collection: ["inactive", "driver", "dispatch", "admin"] %>
    <% else %><%end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br><br>
<%= @user.paylevel.inspect %>
<%= @user.inspect %>
<br>
