<div class="container">
  <div class="row">
    <div class="col-xs-12">
<div class="text-center">
<h2>Add Bonus</h2>
</div>
<%= simple_form_for(@bonu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :amount %>
    <%= f.input :reason %>
    <%= f.input :dayt %>
    <%= f.hidden_field :user_id, :value => @user.id  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add Bonus" %>
  </div>
<% end %>


</div></div></div>