<% if current_user.userlevel == 'driver' then user_not_authorized else %>
<div class="col-md-8 col-md-offset-2">
  <h2>Authorized Users</h2>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Office</th>
            <th>Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user_path(user), class: 'btn btn-primary btn-sm'  %></td>
              <td><%= user.email %></td>
              <td><%= user_status(user) %></td>
              <td><%= if user.sloc.present? then user.sloc.officename else 'No office assigned' end %></td>
              <td><%= user.userlevel %></td>
              <td><%= link_to 'Send message', new_message_path(to: user.id), class: 'btn btn-default btn-sm' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

        <h3 class="extra-margin-top">Invite User</h3>

        <%= simple_form_for(User.new, url: user_invitation_path, html: { class: 'form-inline'} ) do |f| %>
        <%= f.input :email, placeholder: 'Email', label: false %>
        <%= f.button :submit, 'Invite User', class: 'btn-primary' %>
        <%end%>                

    </div>
   </div>
  </div>
  <%end%>
<br><br>