<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12 lead">User profile<hr></div>
          </div>
          <div class="row">
      <div class="col-sm-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
              display:block; margin:auto;" src="http://i.imgur.com/TWA91Tj.png">
            </div>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-12">
                  <h1 class="only-bottom-margin"><%= @user.name %></h1>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span class="text-muted">Email:</span> <%= @user.email %><br>
                  <span class="text-muted">Phone Number:</span> <%= @user.phonenumber %><br>
                  <span class="text-muted">Office:</span> <%= if @user.sloc.present? then @user.sloc.officename else "#{@user.name} needs to be added to an office to start work" end %><br><br>
                  <small class="text-muted">Member Since: <%= @user.created_at.strftime("%D") %></small>
                </div>
                <div class="col-sm-6">
                  <div class="activity-mini">
                     Runs Completed: <%= @user.rens.count %>
                  </div>
                  <div class="activity-mini">
                    Stats Completed: <%= @user.stats.count %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <hr>
              <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
              <%= link_to "Add Bonus", bonus_user_path(@user), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<br><br><br>