<%= simple_form_for(@schedule) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :sloc, label: "Office", label_method: :officename, selected: [ @schedule.sloc], disabled: true %>
    <%= f.input :start_time, as: :datetime, ampm: true, minute_step: 5 %>
    <%= f.association :user, collection: [@users], selected: [@schedule.user] %>
    <%= f.association :rowt, label: "Route", collection: [@rowts], selected: [@schedule.rowt] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
<br>