<div class="container">
  <div class="row">
    <div class="col-xs-12">
<p id="notice"><%= notice %></p>

<h2 class="text-center">Listing Schedules</h2>
<div class="table-responsive">
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Day</th>
      <th>Start time</th>
      <th>Driver</th>
      <th>Route</th>
<% if current_user.dispatch? || current_user.admin? then %>
      <th colspan="3"></th>
      <%else%>
        <th><%= colspan="1"%></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.start_time.strftime("%m""-""%d""-""%Y") %></td>
        <td><%= schedule.start_time.strftime("%A") %></td>
        <td><%= schedule.start_time.strftime("%I:%M %p") %></td>
        <td><%= schedule.user.name %></td>
        <td><%= schedule.rowt.name %></td>
        <td><%= link_to 'Show', schedule %></td>
<% if current_user.dispatch? || current_user.admin? then %>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <% if policy(schedule).destroy? %>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<% if current_user.dispatch? || current_user.admin? then %>
<%= link_to 'New Schedule', new_schedule_path, class: "btn btn-primary" %>
<%else%>




<div id="simple-calendar">
<h3>Schedule for <%=@user.name%></h3>
<%= month_calendar events: @schedule do |date, schedules| %>
<%= date.strftime("%d") %>

  <% schedules.each do |schedule| %>
    <div>
     <h4>Route: <%= schedule.rowt.name %></h4>
     <h4>Time: <%= schedule.start_time.strftime("%H:%M%p") %></h4><br>

    </div>
  <% end %>
<% end %>

</div>
<%end%>

    </div>
  </div>
  
</div>


<br><br>