<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @schedule.start_time.strftime("%A") %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @schedule.start_time.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @schedule.user.name %>
</p>

<p>
  <strong>Route:</strong>
  <%= @schedule.rowt.name %>
</p>

<% if current_user.dispatch? || current_user.admin? then %>
<%= link_to 'Edit', edit_schedule_path(@schedule), class: "btn btn-warning" %> |
<%end%>
<%= link_to 'Back', schedules_path, class: "btn btn-primary" %>
