 <body style="background-color: #fc6732;">
  <div class="row">
  	<div class="col-xs-12 text-center">
 <a style="word-spacing:normal; color:white; font-family: 'GrandHotel-Regular'; font-size:200px;">hhonk</a>
 <br>
 <a style="word-spacing:normal; color:white; font-size:40px;">(888)-904-4665</a>
	</div>
	</div>
	</body>