<div class="col-md-12">
<div class="well">Hello! You can now track your work! | <%= link_to 'New Rowt', new_rowt_path, class: "btn btn-success" %> | <%= link_to 'New Step', new_step_path, class: "btn btn-success" %>
</div>

<br>
<h1>Listing Rowts</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>      
      <th>number of steps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @rowts.each do |rowt| %>
      <tr>
        <td><%= rowt.name %></td>
        <td><%= rowt.steps.count %></td>
        <td><%= link_to 'View', rowt, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', rowt, class: "btn btn-warning" %></td>
        <td><%= link_to 'Delete', rowt, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rowt', new_rowt_path, class: "btn btn-success" %>


<br>
<br>
<br>
<p id="notice"><%= notice %></p>

<h1>Listing Steps</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Value</th>
      <th>Rowt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.name %></td>
        <td><%= step.address %></td>
        <td><%= step.value %></td>
        <td><%= step.rowt.name %></td>
        <td><%= link_to 'Show', step, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_step_path(step), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_step_path, class: "btn btn-success" %>
<br>
<br>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Visit?</th>
      <th>Rowt Name</th>
      <th>Value</th>
      <th>Step Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rens.each do |ren| %>
      <tr>
        <td><%= ren.visit %></td>
        <td><%= ren.rowt.name %></td>
        <td><%= ren.step.value %></td>
        <td><%= ren.step.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>



    <% @rr.each do |dayt, ren| %>
     
      <%= dayt.inspect %><br><br><br>
      <%= ren.inspect %>
      <%= dayt.inspect %>
      <% ren.each do |r|%>
        <%= r.dayt %>
        |||<br>
        <br>
      <%end%>
              <br>
    <%end%>


<br>
adsfasdfas
<br><br><br><br>
<% @stats.each do |stats| %>
  <%= stats.name %>
  <%= stats.amount %>
  <%= stats.dayt %>,
<%end%>

<br>
<%=Time.now.strftime("%Y%m")%>