<%= simple_form_for @step, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Stop Name', required: :true %>
    <%= f.input :address, label: 'Stop Address', required: :true %>
    <%= f.input :steplevel, label: 'Stop Type', required: :true %>
    <%= f.input :stepvalue, label: 'Stop Value', required: :true %>
    <%= f.association :rowt, label: 'Route', required: :true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br><br>