<div class="container">
  <div class="row">
    <div class="col-xs-12">
<h1>Editing Step</h1>

<%= render 'form' %>

<%= link_to 'Show', @step, class: "btn btn-primary" %> |
<%= link_to 'Back', steps_path, class: "btn btn-info" %>
</div></div></div>