<div class="container">
  <div class="row">
    <div class="col-xs-12">
<p id="notice"><%= notice %></p>

<h1>Listing All Stops</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Level</th>
      <th>Value</th>
      <th>Route</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.name %></td>
        <td><%= step.address %></td>
        <td><%= step.steplevel %></td>
        <td><%= step.stepvalue %></td>
        <td><%= step.rowt.name %></td>
        <td><%= link_to 'View', step, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_step_path(step), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', step, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_step_path, class: "btn btn-success" %>
</div></div></div>