<div class="container">
  <div class="row">
    <div class="col-xs-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @step.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @step.address %>
</p>

<p>
  <strong>Stop Type:</strong>
  <%= @step.steplevel %>
</p>
<p>
  <strong>Assigned Office:</strong>
  <%= @step.rowt.sloc.officename %>
</p>
<p>
  <strong>Route:</strong>
  <%= @step.rowt.name %>
</p>
<br>
<%= link_to "Driving directions from #{@office.officename} to #{@step.name}", "http://maps.google.com/maps?saddr=#{URI.escape(
@address1)}&daddr=#{URI.escape(@address2)}&hl=en\")", class: "btn btn-success"  %>  
<br>
<br>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@step.lat},#{@step.lng}&markers=#{@step.lat},#{@step.lng}&zoom=11&size=640x400&key=AIzaSyDbpa-gDECmCJmcx96EZEYNRtl3pC7O9Pw",
              class: 'img-fluid img-rounded', alt: "#{@step.name} on the map"%>
              <br>
              <br>
<%= link_to 'Edit', edit_step_path(@step), class: "btn btn-warning" %> |
<%= link_to 'Back', steps_path, class: "btn btn-primary" %>
</div></div></div>
<br><br>