<br><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 button-wrapper">
        <%= link_to "Work waiting approval: #{@pendingwork.count} ", works_path, class: "btn btn-lg btn-block btn-primary" %>   </div>
    <div class="col-md-3 button-wrapper">       
        <%= link_to 'Messages', conversations_path, class: "btn btn-lg btn-block btn-success" %>
    </div>
    <div class="col-md-3 button-wrapper">
        <%= link_to 'New Schedule', new_schedule_path, class: "btn btn-lg btn-block btn-warning" %>
    </div>
    <div class="col-md-3 button-wrapper">
        <%= link_to 'Workers', workers_path, class: "btn btn-lg btn-block btn-danger" %>
    </div>
  </div>
</div>
<% if Sloc.nil? %>
<%= "fasfdasFD" %>
<% end %>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <h3 class="text-center">Offices</h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Office Name</th>
      <th>Office Address</th>      
      <th>Drivers at office</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @slocs.each do |sloc| %>
      <tr>
        <td><%= sloc.officename %></td>
        <td><%= sloc.address%></td>
        <td><%= sloc.users.count %></td>
        <td><%= link_to 'View', sloc, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', sloc, class: "btn btn-warning" %></td>
        <td><%= link_to 'Delete', sloc, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Office', new_sloc_path, class: "btn btn-success" %>
</div></div></div>

  
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">

    <h3 class="text-center">Listing Routes</h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>      
      <th>Address</th>
      <th>Office</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @rowts.each do |rowt| %>
      <tr>
        <td><%= rowt.name %></td>
        <td><%= rowt.steps.count %></td>
        <td><%= rowt.sloc.officename %></td>
        <td><%= link_to 'View', rowt, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', rowt, class: "btn btn-warning" %></td>
        <td><%= link_to 'Delete', rowt, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Rowt', new_rowt_path, class: "btn btn-success" %>
<hr>
</div></div></div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
<div id="simple-calendar">
<h2 class="text-center">Schedule for everyone</h2>
<%= month_calendar events: @schedules do |date, schedules| %>
<%= date.strftime("%d") %>

  <% schedules.each do |schedule| %>
    <div>
     <h4>Route: <%= schedule.rowt.name %></h4>
     <h4>Time: <%= schedule.start_time.strftime("%H:%M%p") %></h4><br>

    </div>
  <% end %>
<% end %>

</div></div></div></div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
  <h3 class="text-center"><%= "Workers #{@aworkers.count}"%></h3>
        <table class="table table-bordered table-hover">
        <thead>
          <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Office</th>
          </tr>
        </thead>
        <tbody>
          <% @aworkers.each do |s| %>
            <tr>
              <td><%= s.name  %></td>
              <td><%= s.userlevel  %></td>
              <td><%= if s.sloc_id? then s.sloc.officename else "Not assigned to an office" end %></td>
            </tr>
          <% end %>
        </tbody>
  </table>
  <br><br><br><br>
  </div></div></div>

  <%= @user.inspect%>