
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 button-wrapper">
        <%= link_to "Work waiting approval: #{@pendingwork.count} ", works_path, class: "btn btn-lg btn-block btn-primary" %>   </div>
    <div class="col-md-4 button-wrapper">       
        <%= link_to 'Messages', conversations_path, class: "btn btn-lg btn-block btn-success" %>
    </div>
    <div class="col-md-4 button-wrapper">
        <%= link_to 'New Schedule', new_schedule_path, class: "btn btn-lg btn-block btn-warning" %>
    </div>

  </div>
</div>

<br><br><br>

  <h2><%= " #{@user.sloc.officename} schedule for the next 24 hours"%></h2>
        <table class="table table-bordered table-hover">
        <thead>
          <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Route</th>
          <th>Driver</th>
          </tr>
        </thead>
        <tbody>
          <% @schedule3.each do |s| %>
            <tr>
              <td><%= s.start_time.strftime("%b %d, %Y")  %></td>
              <td><%= s.start_time.strftime("%I:%M %p")  %></td>
              <td><%= s.rowt.name %></td>
              <td><%= s.user.name %></td>
            </tr>
          <% end %>
        </tbody>
  </table>


<br><br>


<div class="col-md-8 col-md-offset-2">
  <h2><%= "#{@officeuser.officename} Staff"%></h2>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @workers.each do |user| %>
            <tr>
              <td><%= link_to user.name, user_path(user) %></td>
              <td><%= user.firstname %></td>
              <td><%= user.lastname %></td>
              <td><%= user.email %></td>
              <td><%= user_status(user) %></td>
              <td><%= link_to 'Send message', new_message_path(to: user.id), class: 'btn btn-default btn-sm' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

        <h3 class="extra-margin-top">Invite User</h3>

        <%= simple_form_for(User.new, url: user_invitation_path, html: { class: 'form-inline'} ) do |f| %>
        <%= f.input :email, placeholder: 'Email', label: false %>
        <%= f.button :submit, 'Add Worker', class: 'btn-primary' %>
        <%end%>                

    </div>
   </div>
  </div>
<br><br>