
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 button-wrapper">
        <%= link_to 'New Run', rowts_path, class: "btn btn-lg btn-block btn-primary" %>    </div>
    <div class="col-sm-3 button-wrapper">       
        <%= link_to 'New Stat', new_stat_path, class: "btn btn-lg btn-block btn-success" %>
    </div>
    <div class="col-sm-3 button-wrapper">
        <%= link_to 'New Expense', new_expense_path, class: "btn btn-lg btn-block btn-warning" %>
    </div>
    <div class="col-sm-3 button-wrapper">
        <%= link_to 'New Invoice', new_invoice_path, class: "btn btn-lg btn-block btn-info" %>
    </div>
  </div>
</div>
<br>
<div class="col-xs-12" id="simple-calendar">
<h2>Schedule</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Day</th>
      <th>Start time</th>
      <th>Route</th>
      <th>Run Route</th>
    </tr>
  </thead>

  <tbody>
    <% @schedule.each do |schedule| %>
      <tr>
        <td><%= schedule.start_time.strftime("%A: %B %d") %></td>
        <td><%= schedule.start_time.strftime("%I:%M %p") %></td>
        <td><%= schedule.rowt.name %></td>
        <td><%= link_to "Run Route", rens_rowt_path(schedule.rowt.id), class: "btn btn-primary"  %></td>
        <%end%>
      </tr>
  </tbody>
</table>
<br>
</div>





<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6"><h2>Completed Rens for Month</h2>

<table class="table table-striped table-bordered table-condensed">
<thead>
  <tr>
    <th colspan="1">Date</th>
    <th colspan="1">Status</th>
    <th colspan="1">Rowt</th>
    <th colspan="1">Stops</th>
  </tr>
</thead>
<tbody>
    <% @driverrens.each do |rs| %>
  <tr>
      <td><%= rs.dayt.strftime("%m""-""%d""-""%Y") %></td>
      <td class="<%= rs.tat %>"><%= rs.tat %></td>
      <td><%= link_to rs.rowt.name, ren_path(rs), class: "btn btn-success btn-block"  %></td>
      <td><%= rs.rvisit.reject!(&:empty?).count + rs.pvisit.reject!(&:empty?).count %></td>
    <% end %>
</tbody>                                        
</table>
</div>
      




      <div class="col-sm-6">
      <h2>Completed Stats for Month</h2>

<table class="table table-bordered table-striped  table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Status</th>
      <th>Amount</th>
      <th>Facility Name</th>
    </tr>
  </thead>

  <tbody>
    <% @driverstats.each do |stat| %>
      <tr>
        <td><%= stat.dayt.strftime("%m""-""%d""-""%Y") %></td>
        <td class="<%= stat.tat %>"><%= stat.tat %></td>
        <td><%= number_to_currency(stat.amount, unit: "$") %></td>
        <td><%= link_to stat.name, stat_path(stat) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
</div>
    </div>
</div>