<%=@schedule.inspect %>



<div class="container">
<%= @date.strftime("%B %d, %Y")%>


<table class="table table-striped table-bordered table-condensed">
<thead>
  <tr>
    <th colspan="1">Date</th>
    <th colspan="1">Rowt</th>
    <th colspan="1">Stops</th>
    <th colspan="1">Total</th>
  </tr>
</thead>
<tbody>
    <% @rs.each do |dayt, rs| %>
  <tr>
      <td><%= dayt.first %></td>
      <td><%= dayt.second %></td>
      <td><%= rs.count%></td>
      <td><%= rs.map{|x| x.inspect} %></td>      
      <td></td>
    <% end %>
</tbody>                                        
</table>

<div class="col-md-8 col-md-offset-2">
  <h2>Information for <%=@user.name%> in <%= @date.strftime("%B")%></h2>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @user.rens.count %></span>
  Rens Ran:
  <li class="list-group-item">
    <span class="badge"><%= @user.inspect %></span>
Ren income:
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.stats.count%></span>
Stats Ran:
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.stats.sum(:amount)%></span>
Stat income:
  </li>
  <li class="list-group-item">
    <span class="badge"> </span>
Total made:
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.expenses.sum(:amount) %></span>
Total Expenses: 
  </li>
</ul>
<br>
 <br>
 <br>
<br>

    <%= link_to 'View Rowts', rowts_path, class: "btn btn-success" %>


<br>
<br>
<br>
<br>



   </div>
  </div>


<br>
<br>
<br>
<br>
<table class="table table-striped table-bordered table-condensed">
<thead>
  <tr>
    <th colspan="1">Date</th>
    <th colspan="1">Rowt</th>
    <th colspan="1">Stops</th>
    <th colspan="1">Total</th>
  </tr>
</thead>
<tbody>
    <% @rs.each do |dayt, rs| %>
  <tr>
      <td><%= dayt.first %></td>
      <td><%= dayt.second %></td>
      <td><%= rs.count%></td>     
      <td></td>
    <% end %>
</tbody>                                        
</table>
</div>


</br>
<%=@user.userlevel.inspect%>
</br>
</br>
dispatch:
<%=@user.dispatch?%>
</br>
admin:
<%=@user.admin?%>
</br>
driver:
<%=@user.driver?%>
</br>