/*
 *= require bootstrap
 *= require simple_calendar
 *= require fonts
 *= require rails_bootstrap_forms
 *= require rowts
 *= require navbar
 */

        /* default button */
    .btn-default {
        background-color: #FFF;
        color: #333;
        border:solid 2px black;
        border-color: #000000;
        border-radius: 0px;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active    {
    	border:solid 2px black;
        background-color: #ebebeb;
        color: #333;
        border-color: #ffffff;
    }
    
    /* primary button */
    .btn-primary {
        background-color: #FFF;
        color: #2E2F30;
        border:solid 2px black;
        border-color: #fc6732;
        border-radius: 0px;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active    {
    	border:solid 2px black;
        background-color: #fc6732;
        color: #FFF;
        border-color: #2E2F30;
    }

    /* success button */
    .btn-success {
        background-color: #FFF;
        color: #000;
        border:solid 2px black;
        border-color: #2E2F30;
        border-radius: 0px;
    }
    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active    {
    	border:solid 2px black;
        background-color: #fc6732;
        color: #FFF;
        border-color: #2E2F30;
    }

    /* info button */
    .btn-info {
        background-color: #FFF;
        color: #269abc;
        border:solid 2px black;
        border-color: #39b3d7;
        border-radius: 0px;
    }
    .btn-info:hover,
    .btn-info:focus,
    .btn-info:active    {
    	border:solid 2px black;
        background-color: #39b3d7;
        color: #FFF;
        border-color: #269abc;
    }
    
    /* warning button */
    .btn-warning {
        background-color: #FFF;
        color: #d58512;
        border:solid 2px black;
        border-color: #ed9c28;
        border-radius: 0px;
    }
    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active    {
	    border:solid 2px black;
        background-color: #ed9c28;
        color: #FFF;
        border-color: #d58512;
    }

    /* danger button */
    .btn-danger {
        background-color: #FFF;
        color: #ac2925;
        border:solid 2px black;
        border-color: #d2322d;
        border-radius: 0px;
    }
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active {
    	border:solid 2px black;
        background-color: #d2322d;
        color: #FFF;
        border-color: #ac2925;
    }









.navbar-default {
    background-color: #2E2F30;
    border-style: solid;
    border-color: #000000;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #ffffff;
    border-color: #fc6732;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #fc6732;
}

.navbar-default .navbar-text {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border-style: solid;
    border-color: #fc6732;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FF814C;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}







.table-bordered th, .thead{
    background-color: #2E2F30 !important;
    color: #ffffff;
}

.thead th {
    background-color: #006DCC;
    color: white;
}

.tbody td {
    background-color: #EEEEEE;
}

.well {
    background-color: #f5f5f5;
    border: 2px solid #2e2f30;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}


.panel-default > .panel-heading {
    background-color: #2e2f30;
    border-color: #ddd;
    color: #fc6732;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #fc6732;
    color: #fff;
}


a {
    color: #333;
    text-decoration: none;
}



.submitted {
  background-color: #F7ED82;
}
.approved {
  background-color: #BDDC90;
}
.denied {
  background-color: #F69680;
}


.button-wrapper .btn {
    margin-bottom:5px;
}



.dropdown-menu {
    padding: 0px;
    margin: 0px;
    line-height: normal;
}
.dropdown-menu li, .dropdown-menu a {
    padding: 0px;
    margin: 0px;
    line-height: normal;
}
.dropdown-menu a {
    padding: 10px;
}

.container.home{
    background-color: #123456;
}
