#flash_notice {
@extend .alert;
@extend .alert-success;
}
#flash_error, #flash-alert {
@extend .alert;
@extend .alert-danger;
}
#flash_warning {
@extend .alert;
@extend .alert-warning;
}
.navbar .right-buttons {
margin-right: 15px;
}
.navbar-brand {
	font-family: GrandHotel-Regular;
}
