<p>Welcome <%= @email %> to hhonk!</p>

<p>Please confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token, :subdomain => @resource.subdomain) %></p>
