<%= form_for @rowt, validate: true do |f| %>
  <% if @rowt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rowt.errors.count, "error") %> prohibited this rowt from being saved:</h2>

      <ul>
      <% @rowt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Route Name" %><br>
    <%= f.text_field :name, class: "form-control", validate: :true %>
  </div>
  <br>
  <br>
        <div class="field">
          <%= f.label "Office" %><br>
          <%= f.select(:sloc_id, options_for_select(@slocs.collect {|p| [ p['officename'], p['id'] ] }))%>
        </div>

  <br>
  <br>
    <%= f.fields_for :steps, validate: true do |step| %>
        <%= render 'step_fields', f: step %>
    <% end %>
      <div class="links">
<%= link_to_add_association "Add a Stop", f, :steps, class: "btn btn-success" %>
       <div>
<br />
  <div class="actions">
    <%= f.submit "Submit #{@rowt.name}", class: "btn btn-primary" %>
  </div>
<br />

  <% end %>

