<div class="nested-fields">
      <div class="field">
        <%= f.label :name, "Stop Name" %><br />
        <%= f.text_field :name, class: "form-control", validate: true %>
      </div>

      <div class="field"><br />
        <%= f.label :address %><br />
        <%= f.text_field :address, class: "form-control", validate: true %>
      </div>


      <div class="field"><br />
  <%= f.radio_button :steplevel, 'regular', :checked => true %> 
  <%= label :steplevel, 'regular' %>
  <%= f.radio_button :steplevel, 'premium' %>
  <%= label :steplevel, 'premium' %>
      </div>
            <div class="field"><br />
        <%= f.label :stepvalue, "Stop Value" %><br />
        <%= f.text_field :stepvalue, value: number_to_currency(f.object.stepvalue.to_f, delimiter: ',', unit: '$'), class: "form-control", validate: true %>
      </div>
        <div class="field">

<br>

  <%= link_to_remove_association "Remove Stop", f, class: "btn btn-danger" %>

      </div>
<br>
<hr />