
<div class= "form-group">
      <div class="form-inputs">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control", validate: :true %>
      </div>

      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_field :address, validate: true %>
      </div>

      <div class="field">
        <%= f.label :value %><br />
        <%= f.text_field :value, validate: true %>
      </div>
      <div class="field">
        <%= f.label :steplevel %><br />
        <%= f.radio_button :steplevel %>
      </div>
      <div class="field">
        <%= f.label :stepvalue %><br />
        <%= f.text_field :stepvalue, validate: true %>
      </div>

    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", '#', class: "remove_stepfields" %>
  </div>