<div class="container">
  <div class="row">
    <div class="col-xs-12">
<h1>Editing <%= "#{@rowt.name}" %></h1>

<%= render 'editform' %>

<%= link_to "View", @rowt, class: "btn btn-primary" %> |
<%= link_to 'Back', rowts_path, class: "btn btn-info" %>
</div></div></div>