

<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">

<div class="col-sm-12 text-center">
<% if @user.sloc.present? %>
<h2>Listing Routes for <%= @office.officename %> office </h2>
<div class="row">
  <div class="col-sm-10"></div>
  <div class="col-sm-2"> <%= if @user.userlevel == "admin" then link_to "New Route", new_rowt_path, class: "btn btn-primary" else end %></div>
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>      
      <th>Number of Stops</th>
      <th>Run Route</th>
    </tr>
  </thead>

  <tbody>
      <% @rowts.each do |rowt| %>
      <tr>
        <td><%= link_to rowt.name, rowt_path(rowt), class: "btn btn-success" %></td>
        <td><%= rowt.steps.count %></td>
        <td><%= link_to 'Run Route', rens_rowt_path(rowt.id), class: "btn btn-primary" %></td>
<% if policy(rowt).destroy? %>
  <td><%= link_to 'Destroy', rowt, method: :delete, data: { confirm: 'Are you sure? This will remove Stops! (not reccomended if users have completed route before)' }, class: "btn btn-primary" %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

<% else %>
<%= "Please add #{@user.name} to an office by clicking" %> <%= link_to "here", edit_user_path(@user) %>
<% end %>
</div>