<div class="container">
  <div class="row">
    <div class="col-sm-12">
<h1><%= @rowt.name %></h1>


<%= form_for(@ren, controller: :rowts, action: :rens) do |f| %>
  <% if @ren.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ren.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% @ren.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.hidden_field :user_id, value: @user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :rowt_id, value: @rowtt.id %>
  </div>


<div class="field">
  <%= f.label "Regular Stops" %><br />
  <%= f.collection_check_boxes :rvisit, @rs, :id, :name, class: "checkbox" do |b| %>
    <div class="checkbox">
      <label><input class="styled" type="checkbox">
      <%= b.check_box %>
      <%= b.label %>
      </label>
    </div>
  <% end %>

      <%= f.label "Premium Stops" %><br />
  <%= f.collection_check_boxes :pvisit, @ps, :id, :name, class: "checkbox" do |b| %>
    <div class="checkbox">
            <label><input class="styled" type="checkbox">
            <%= b.check_box %>
            <%= b.label %>
            </label>
    </div>
  <% end %>
</div>

<div class="field">
  <%= f.label "Date and Time" %><br>
  <%= f.datetime_select :dayt, as: :datetime, ampm: true, minute_step: 5 %>
</div>

<br>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
  <% end %>
<br><br>