<div class="container">
  <div class="row">
    <div class="col-xs-12">

<p>
  <h1><%= @rowt.name %> Route</h1>
</p>
<% my_url = "http://maps.google.com/maps/api/staticmap?size=450x300&maptype=roadmap&key=AIzaSyDbpa-gDECmCJmcx96EZEYNRtl3pC7O9Pw" %>
<% @steps.each do |location| %> 
<% my_url += "&markers=#{location.lat}%2C#{location.lng}" %>    
<% end %>
<%= image_tag my_url %>
<br>
<br>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>      
      <th>Address</th>
      <th>Type</th>
      <th>Stop Value</th>
    </tr>
  </thead>

  <tbody>
      <% @rowt.steps.each do |steps| %>
      <tr>
        <td><%= link_to steps.name, step_path(steps), class: "btn btn-success btn-block"%></td>
        <td><%= steps.address %></td>
        <td><%= steps.steplevel %></td>
        <td><%= number_to_currency(steps.stepvalue, :unit => "$") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_rowt_path(@rowt, @steps), class: "btn btn-warning" %> |
<%= link_to 'Back', rowts_path, class: "btn btn-primary" %>
<%= if current_user.userlevel == "admin" then button_to "delete", @rowt, :method => :delete, :id => @rowt.id, data: { confirm: 'Are you sure delete this route? This wil also delete the stops assocated with the route' }, class: "btn btn-danger" else end %>


</div></div></div>