<%= simple_form_for @expense, validate: true do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, label: "Expense" %>
    <%= f.input :category, as: :select, collection: [ "Fuel", "Food/Drink", "Maintenance", "Insurance"], required: :true %>
    <%= f.input :amount %>
    <%= f.input :dayt, label: "Date" %>
    <%= f.hidden_field :user_id, :value => @user.id %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>