<div class="container">
<h2>All Expenses</h2>
<div class="row">
<div class="col-md-6">
<%= line_chart @expenses.group_by_day(:dayt).sum(:amount), colors: ["#fc6732"]  %>
</div>
<br>
<div class="col-md-6">
<%= line_chart Expense.group(:category).group_by_week(:dayt).sum(:amount), curve: false %>
</div>
<br>
<br>
<br>
<%= link_to 'New Expense', new_expense_path, class: "btn btn-success"  %>
</div>
<br>
<br>
<div class="row">
<h2>Listing Expenses</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Expense</th>
      <th>Category</th>
      <th>Amount</th>
      <th><%= sort_link(@search, :dayt) %></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to expense.name, expense_path(expense), class: "btn btn-success" %></td>
        <td><%= expense.category %></td>
        <td><%= number_to_currency(expense.amount, unit: "$") %></td>
        <td><%= expense.dayt.strftime("%m""-""%d""-""%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
  </div>
