<div class="container">
  <div class="row">
    <div class="col-xs-12">
<h1>Editing Expense</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @expense, class: "btn btn-primary"  %> |
<%= link_to 'Back', expenses_path, class: "btn btn-info"  %>
</div></div></div>