<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="text-center">Expenses for the last 4 weeks </h2>
<div class="pull-right">
<%= link_to 'New Expense', new_expense_path, class: "btn btn-success"  %> | 
<%= link_to 'All Expenses', all_expenses_path, class: "btn btn-success"  %>
</div>
<br><br>
<hr>
</div>
</div>
<div class="row">
<div class="col-xs-12">
<%= line_chart @expenses.group_by_day(:dayt, range: 4.weeks.ago.midnight..Time.now).sum(:amount), colors: ["#fc6732"]  %>
</div>
<br>

</div>
<br>
<br>
<div class="row">
<div class="col-xs-12">
<h3> Recent Expenses</h3>

<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Expense</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to expense.name, expense_path(expense), class: "btn btn-success" %></td>
        <td><%= expense.category %></td>
        <td><%= number_to_currency(expense.amount, :unit => "$") %></td>
        <td><%= expense.dayt.strftime("%m""-""%d""-""%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
  </div>
  </div>
</div>
