<div class="container">
  <div class="row">
    <div class="col-xs-12">
		<h1>New Expense</h1>

		<%= render 'form' %>
		<br>
		<%= link_to 'Back', expenses_path, class: "btn btn-primary" %>

</div></div></div>