<div class="container">
  <div class="row">
    <div class="col-xs-12">
<p>
  <strong>Name:</strong>
  <%= @expense.name %>
</p>

<p>
  <strong>Category</strong>
  <%= @expense.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@expense.amount, unit: "$") %>
</p>

<p>
  <strong>Date</strong>
  <%= @expense.dayt.strftime("%m""-""%d""-""%Y") %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense), class: "btn btn-warning" %> |
<%= link_to 'Back', expenses_path, class: "btn btn-info" %> |
<%= link_to 'Delete', expense_path(@expense), data: { confirm: 'Are you certain you want to delete this?' }, :method => :delete, class: "btn btn-danger" %>
</div></div></div>
