<div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Route</th>
              <th>Invoiced?</th>
              <th>Status</th>
              <th>Visit</th>
              <th>Date</th>
              <th>Run value</th>
              <th>Office</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @rens.each do |ren| %>
              <tr>
                <td><%= link_to ren.rowt.name, ren, class: "btn btn-primary" %></td>
                <td><%= if ren.lineitem.nil? then "Not invoiced" else "Invoiced" end %></td>
                <td class="<%= ren.tat %>"><%= ren.tat %></td>
                <td><%= (ren.rvisit.reject(&:empty?).count + ren.pvisit.reject(&:empty?).count) %></td>
                <td><%= ren.dayt.strftime("%m""-""%d""-""%Y") %></td>
                <td><%= number_to_currency(@user.flatrate, :unit => "$") %></td>
                <td><%= ren.rowt.sloc.officename %></td>
                <td><%= if ren.lineitem.present? then "Invoiced" else  link_to 'Delete Run', ren, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
</div>