<%= simple_form_for @stat, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Facility Name', required: :true %>
    <%= f.input :address, label: 'Facility Address', as: :string %>
    <%= f.input :amount, label: 'Stat Value' %>
    <%= f.input :dayt, label: 'Stat Date', required: :true %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
