
<h3 class="text-center">Stat approval for <%= @stat.user.name %></h3></div>

<%= simple_form_for @stat, validate: true, :url => url_for(:action => 'status_update', :controller => 'stats'), :method => :POST  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Facility Name', required: :true, disabled: true %>
    <%= f.input :address, label: 'Facility Address', as: :string, disabled: true %>
    <%= f.input :amount, label: 'Stat Value', disabled: true %>
    <%= f.input :dayt, label: 'Stat Date', required: :true, disabled: true %>
    <%= f.hidden_field :user_id, :value => @stat.user.id, disabled: true %>
    <%= f.input :tat, label: 'Status', required: :true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
