<div class="container">
<h2>All Stats</h2>
<div class="row">
<div class="col-md-6">
<%= line_chart @stats.group_by_day(:dayt).sum(:amount), colors: ["#fc6732"], curve: false  %>
</div>
<br>
<div class="col-md-6">
<%= line_chart Stat.group_by_week(:dayt).sum(:amount), curve: false %>
</div>
<br>
<br>
<br>
<%= link_to 'New Stat', new_stat_path, class: "btn btn-success"  %>
</div>
<br>
<br>
<div class="row">
<h2>Listing Stats</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Stat</th>
      <th>Status</th>
      <th>Facility</th>
      <th>Amount</th>
      <th><%= sort_link(@search, :dayt) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= link_to stat.name, stat_path(stat), class: "btn btn-success" %></td>
        <td class="<%= stat.tat %>"><%= stat.tat %></td>
        <td><%= stat.name %></td>
        <td><%= number_to_currency(stat.amount, unit: "$") %></td>
        <td><%= stat.dayt.strftime("%m""-""%d""-""%Y") %></td>
        
        <td><%= if stat.lineitem.present? then "Invoiced" else link_to "Delete", stat, :method => :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
  </div>
