<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">

    <div class="col-xs-12">

    <h2 class="text-center">Stats for the last 4 weeks </h2></div>

        <br>
      <span class="pull-right">
        <%= link_to 'New Stat', new_stat_path, class: "btn btn-primary" %> | <%= link_to 'All Stats', all_stats_path, class: "btn btn-success"  %>
      </span>
    </div>
<hr>
    <div class="col-xs-12">
<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Facility Name</th>
      <th>Address</th>
      <th>Stat Value</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= link_to stat.name, stat_path(stat), class: "btn btn-success" %></td>
        <td><%= stat.address %></td>
        <td><%= number_to_currency(stat.amount, unit: "$") %></td>
        <td><%= stat.dayt.strftime("%m""-""%d""-""%Y") %></td>
        <td><%= stat.user.name %></td>
        <td class="<%= stat.tat %>"><%=stat.tat %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
</div>
    </div>

</div>
<br>