<div class="container">
  <div class="row">
    <div class="col-xs-12">
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@stat.lat},#{@stat.lng}&markers=#{@stat.lat},#{@stat.lng}&zoom=11&size=640x400&key=AIzaSyDbpa-gDECmCJmcx96EZEYNRtl3pC7O9Pw",
              class: 'img-fluid img-rounded', alt: "#{@stat.name} on the map"%>
<br>
<br>
	<%= link_to "Driving directions from #{@office.officename} to #{@stat.name}", "http://maps.google.com/maps?saddr=#{URI.escape(
	@address1)}&daddr=#{URI.escape(@address2)}&hl=en\")", class: "btn btn-success"  %>  
<br>
</div>
<div class="row">
<div class="col-xs-12">
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stat.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@stat.amount, unit: "$") %>
</p>

<p>
  <strong>Dayt:</strong>
  <%= @stat.dayt.strftime("%m""-""%d""-""%Y") %>
</p>

<p>
  <strong>User:</strong>
  <%= @stat.user.name %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat), class: "btn btn-warning"  %> |
<%= link_to 'Back', stats_path, class: "btn btn-primary" %>
</div></div></div></div>
<br><br>