<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Address</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Step</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.address %></td>
        <td><%= location.lat %></td>
        <td><%= location.lng %></td>
        <td><%= location.inspect %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
