<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @location.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @location.lng %>
</p>

<p>
  <strong>Step:</strong>
  <%= @location.steps.inspect %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>


<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location.lat},#{@location.lng}&markers=#{@location.lat},#{@location.lng}&zoom=11&size=640x400&key=AIzaSyDbpa-gDECmCJmcx96EZEYNRtl3pC7O9Pw",
              class: 'img-fluid img-rounded', alt: "#{@location.address} on the map"%>