

<nav class="navbar navbar-default" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container-fluid">
    <div class="navbar-header">
      
 <a style="word-spacing:normal; color:#FF9A65; font-family: 'GrandHotel-Regular'; font-size:35px;" class="navbar-brand" href="/">hhonk</a></span>
    </div>
  </div>
    </div><!-- /.navbar-collapse -->


</nav>