

<nav class="navbar navbar-default" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
      </button>
 <a style="word-spacing:normal; color:#FF9A65; font-family: 'GrandHotel-Regular'; font-size:35px;" class="navbar-brand" href="/">hhonk</a></span>
    </div>
            <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><%= link_to "Routes", rowts_path %></li>
        <li><%= link_to "Offices", slocs_path %></li>
        <li><%= link_to "Inbox", conversations_path %></li>
        <li><%= link_to "Schedule", schedules_path %></li>
        <li><%= link_to "Users", users_path %></li>
      </ul>

<div class="pull-right right-buttons">
<a style="word-spacing:normal; color:#ffffff;" href="/dashboards", class: "btn btn-default navbar-btn"> Hello, <%= current_user.name %> |</a></span>
<%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'btn btn-success navbar-btn' %>
</div>
  <%end%>
  </div>
    </div><!-- /.navbar-collapse -->


</nav>