<!DOCTYPE html>
<html>
<head>
  <title>hhonk</title>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <link rel="manifest" href="/manifest.json">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<%= if  current_user.nil? then render "layouts/navno" 
elsif current_user.userlevel == "admin" then render "layouts/navbar" 
  elsif current_user.userlevel == "dispatch" then render "layouts/navbar" 
    elsif current_user.userlevel == "driver" then render "layouts/navbardriver" end %>

</div>
    </div> <!-- end div class="collapse navbar-collapse" -->
  </div> <!-- end div class="container" -->
</div> <!-- end div class="navbar navbar-default navbar-fixed-top" -->
</header>


<div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      <% end %>
    <% end %>
	<div class="row">
		<%= yield %>
	</div>
</div>

</body>
</html>
