<p>
  <h1><%= @rowtt.name %> Route</h1>
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @rstep.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.address %></td>
        <td><%= f.steplevel %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @pstep.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.address %></td>
        <td><%= f.steplevel %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= simple_form_for(@ren) do |f| %>
  <% if @ren.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ren.errors.count, "error") %> prohibited this ren from being changed:</h2>

      <ul>
      <% @ren.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-inputs">
    <%= f.input :tat, as: :radio_buttons, label: 'Approval Status', collection: ["submitted", "approved", "denied"] %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

 <%end%>