<%= form_for(@ren) do |f| %>
  <% if @ren.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ren.errors.count, "error") %> prohibited this ren from being saved:</h2>

      <ul>
      <% @ren.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.hidden_field :rowt_id, value: @rowtt.id %>
  </div>


<div class="field">
  <%= f.label "Visiting Stops" %><br />
  <%= f.collection_check_boxes :visit, @s, :id, :name,, :input_html => { :disabled => true }  class: "checkbox" do |b| %>
    <div class="checkbox">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>

<div class="field">
  <%= f.label "Date" %><br>
  <%= f.date_select :dayt %>
</div>
<br>
<br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

  <% end %>


