<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Type</th>
      <th>Earning</th>
    </tr>
  </thead>

  <tbody>
    <% @ss.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.address %></td>
        <td><%= f.steplevel %></td>
        <td><%= if f.steplevel == "regular" then number_to_currency(@rvalue, :unit => "$") else number_to_currency(@pvalue, :unit => "$") end %></td>
      </tr>
    <% end %>
  </tbody>
  <thead>
<tr>
<th></th>
<th></th>
<th></th>
  <th>Total</th>
</tr>
</thead>
  <tr>
  <td></td>
  <td></td>
  <td></td>
    <td><%= number_to_currency(@total, :unit => "$") %></td>
  </tr>
</table>
</div>

sdsdsds