<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Stop Value</th>
      <th>Earning</th>
    </tr>
  </thead>

  <tbody>
    <% @ss.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.address %></td>
        <td><%= f.stepvalue %></td>
        <td><%= @user.percent %>%</td>
      </tr>
    <% end %>
  </tbody>
  <thead>
<tr>
<th></th>
<th></th>
<th></th>
  <th>Total</th>
</tr>
</thead>
  <tr>
  <td></td>
  <td></td>
  <td></td>
    <td><%= number_to_currency(@pertotal, :unit => "$") %></td>
  </tr>
</table>
</div>

<br>
<br>
