<p>
<h2><%= "#{@rowtt.name} by #{@ren.user.name} on #{@ren.dayt.strftime("%m""-""%d""-""%Y %I:%M %p")}" %></h2>
</p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @step.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.address %></td>
        <td><%= f.steplevel %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<ul class="nav pull-right">
Run Total:<%=  number_to_currency(@total, :unit => "$")%>
</ul>
<br>
<%= simple_form_for @ren, :url => url_for(:action => 'status_update', :controller => 'rens'), :method => :POST do |f| %>
  <% if @ren.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ren.errors.count, "error") %> prohibited this ren from being changed:</h2>

      <ul>
      <% @ren.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-inputs">
    <%= f.input :tat, as: :radio_buttons, label: 'Approval Status', collection: ["submitted", "approved", "denied"] %>
  </div>
  <div class="actions">
    <%= f.submit "Change Status", class: "btn btn-primary" %>
  </div>

 <%end%>

 <br>

  <br>