<div class="container">

<h2 class="text-center">All Runs</h2>

	<div class="row">
	<span class="pull-right">
		<%= link_to 'New Run', rowts_path, class: "btn btn-success"  %>
	</span>
	</div>
	<hr />
<div class="row">

<%= render "rens/all/" + @paylevel %>


</div>
<br>
  </div>
