<div class="container">
	  <div class="row">
    	<div class="col-xs-12">

	    	<h1>Editing Run</h1>

			<%= render 'dedit' %>

			<%= link_to 'Show', @ren, class: "btn btn-success" %> |
			<%= link_to 'Back', rens_path, class: "btn btn-warning" %>
		</div>
	</div>
</div>