<div class="container">
  <div class="row">
    <div class="col-xs-12">

        <h2 class="text-center">Runs for last 4 weeks</h2>

          <span class="pull-right">
            <%= link_to 'New Run', rowts_path, class: "btn btn-primary" %> | <%= link_to 'All Runs', all_rens_path, class: "btn btn-success"  %>
          </span>
          </div>
    <div class="col-xs-12">
        <hr>

        <%= render @paylevel + "i" %>
        <br>

        <%= link_to 'Complete a Run', rowts_path, class: "btn btn-primary" %>      
    </div>
  </div>
</div>

<%= (@rens.count * (@user.percent * 0.01)) %>
