<div class="container">
  <div class="row">
    <div class="col-xs-12">


<p>
  <strong>Date:</strong>
  <%= @ren.dayt.strftime("%m""-""%d""-""%Y")  %>

</p>

<p>
  <strong>rowt:</strong>
    <%= @ren.rowt.name  %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ren.tat %>
</p>
<br>
  
<%= button_to "delete", @ren, :method => :delete, class: "btn btn-danger"  %>
<hr>
    <%= render @paylevel %>


<br>

<div class="row">
    <div class="col-xs-4">
    <% if @ren.tat = "submitted" || "rejected" %>
<%= link_to 'Edit', edit_ren_path(@ren), class: "btn btn-warning" %> |
<%end%>
<%= link_to 'Back', rens_path, class: "btn btn-primary" %> 
    </div>
    <div class="col-xs-8">
    </div>

</div></div></div>
<br><br>